auction_project/db.sqlite3
auction_project/auction/migrations/
auction_project/auction/__pycache__/
auction_project/db.sqlite3
auction_project/db.sqlite3
auction_project/db.sqlite3
*.sqlite3
auction_project/db.sqlite3
auction_project/auction/__pycache__/urls.cpython-39.pyc
