<head>
    <title>Register</title>
    {% if request.user.is_authenticated %}
        <p>You are currently logged in as {{request.user.username}} | <a href="{% url 'logout' %}">Logout</a> </p>
    {% else %}
        <p><a href="{% url 'login' %}">Log In</a></p>
    {% endif %}
</head>

<body>
{% block content %}

<h2>Register<h2>
<form method="POST">
    {% csrf_token %}

    {% for field in registration_form %}

        <p>
            {{field.label_tag}}
            {{field}}
        </p>

    {% endfor %}

    <button type="submit">Register</button>
</form>


{% endblock content %}
</body>